{% extends "base.html" %}
{% load static %}
{% block title %}Real Estate{% endblock %}
{% block css %}
    <style>
        #form-add {
            margin: 0 auto;
            width: 500px;
        }

        label {
            color: black;
            display: inline-block;
            width: 150px;
        }
    </style>
{% endblock %}
{% block js %}
    <script>
        {% include "include/choise_category.js" %}
    </script>
{% endblock %}
{% block content %}
    <!-- content -->
    <div id="form-add">
        <form enctype="multipart/form-data"  action="{% url 'add_ad' %}" method="post">
            {% csrf_token %}

            <br>{{ form.as_p }}


            <input type="submit" value="Сохранить" class="button">
        </form>
    </div>
    <br>
    <br>
    <!-- / content -->
{% endblock %}