{% extends "base.html" %}
{% load static %}
{% block title %}HouseMarket{% endblock %}
{% block content %}
<!-- content -->
		<div class="body2">
			<div class="main">
				<section id="content">
					<div class="wrapper">
						<article class="col1">
							<div id="slider">
								<img src="{% static "website/images/img1.jpg" %}" alt="" title="<strong>Villa Neverland, 2006</strong><span>9 rooms, 3 baths, 6 beds, building size: 5000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 600 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
								<img src="{% static "website/images/img2.jpg" %}" alt="" title="<strong>Villa Lipsum, 2008</strong><span>8 rooms, 4 baths, 4 beds, building size: 4500 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 500 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
								<img src="{% static "website/images/img3.jpg" %}" alt="" title="<strong>Villa Dolor Sid, 2007</strong><span>11 rooms, 3 baths, 5 beds, building size: 6000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 650 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
								<img src="{% static "website/images/img4.jpg" %}" alt="" title="<strong>Villa Nemo Enim, 2010</strong><span>5 rooms, 2 baths, 4 beds, building size: 3000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 400 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
								<img src="{% static "website/images/img5.jpg" %}" alt="" title="<strong>Villa Nam Libero, 2003</strong><span>7 rooms, 4 baths, 6 beds, building size: 7000 sq. ft. &nbsp; &nbsp; &nbsp; Price: $ 700 000 &nbsp; &nbsp; &nbsp; <a href='#'>Read more</a></span>">
							</div>
						</article>
						<article class="col2">
                            {% include "include/form_search.html" %}
						</article>


					</div>
				</section>
			</div>
		</div>
		<div class="body3">
			<div class="main">
				<section id="content2">
					<div class="wrapper">
						<article class="col1">
							<div class="pad2">
								<h2>Remodeling Rooms</h2>
								<div class="wrapper pad_bot3">
									<figure class="left marg_right1"><img src="{% static "website/images/page1_img4.jpg" %}" alt=""></figure>
									<p class="pad_bot1"><strong class="color2">2006, 3 baths, 6 beds, building size: 5000 sq. ft.<br>
											Price: <span class="color1">$ 600 000</span></strong></p>
									<p class="pad_bot2">
											Massa dictum ementum velitumo od consequat ante oremsumas ame consectetueraipiscing eliteli ueedlorAliquam conguen nisauris accusalla vel deinol tincidunt ligula magna semper ipsum.</p>
									<a href="#" class="button">Read more</a>
								</div>
								<div class="wrapper">
									<figure class="left marg_right1"><img src="{% static "website/images/page1_img5.jpg" %}" alt=""></figure>
									<p class="pad_bot1"><strong class="color2">2006, 3 baths, 6 beds, building size: 5000 sq. ft.<br>
											Price: <span class="color1">$ 600 000</span></strong></p>
									<p class="pad_bot2">
											Massa dictum ementum velitumo od consequat ante oremsumas ame consectetueraipiscing eliteli ueedlorAliquam conguen nisauris accusalla vel deinol tincidunt ligula magna semper ipsum.</p>
									<a href="#" class="button">Read more</a>
								</div>
							</div>
						</article>
						<article class="col2">
							<div class="pad1">
								<h3>
						</article>
					</div>
				</section>
			</div>
		</div>
    <form action="{% url 'add_ad' %}" method="post">
        {% csrf_token %}
        <br>{{ ad}}

        <input type="submit"/>
    </form>
<!-- / content -->
{% endblock %}
